@charset "UTF-8";
:root{
    --cor-primaria1:#2CA577;
    --cor-primaria2:#41CD97;
    --cor-primaria3:#ffffff;
    

    --cor-secundaria:#1E4146;
    --cor-secundaria2:#F8F9FA;

    --cor-gray1:#343A40;
    --cor-gray2:#495057;
    --cor-gray3:#6C757D;
    --cor-gray4:#ADB5BD;
    --cor-gray5:#C1C1C1;

    --cor-black1:#000000;
    --cor-black2:#212529;
}

body {
    font-family: Lato, sans-serif;
    padding-top: 0px;
    margin-top: 0px;
}



#cabecalho {
    width: 99%;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    border-bottom: 0.2px solid var(--cor-gray5);
    align-self: center;
}


#logo {
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

#menu{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#rigthMenu {
    margin-right: 25px;
}

#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: relative;
    margin: 0px;
    padding-left: 27px;
    align-self: center;
}

#menu li {
    display: inline-block;
    padding: 5px;
}

.botao {
    background-color: var(--cor-primaria1);
    color: var(--cor-primaria3) !important;
    border-radius: 25px;
    padding-left: 20px;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
    margin: 0px;
    border: 1px transparent;
    font-weight: bold;
    position: relative;
}


.linknavbar {
    text-decoration: none;
    color: var(--cor-gray2);
    font-weight: lighter;
    font-size: 14px;
}



#banner {
    width: 508px;
    height: 307px;
    margin-left: 100px;
    margin-top: -10px;
    font-size: 14px;
}

#banner2 {
    width: 1100px;
    height: 277px;
    margin-top: 30px;
    border-radius: 17px 17px 17px 17px;
    margin-left: 200px;
}

#rodape {
    width: 510px;
    height: 58px;
    margin-left: 300px;
}


.row {
    display: flex;
}

#col-text-corpo {
    margin-left: 160px;
    margin-top: 60px;
    padding: 35px;
}



#col-banner {
    border-radius: 170px 0px 0px 170px;
    margin-top: 40px;
    background-color: var(--cor-secundaria2);
    flex: 1;
    margin-left: 70px;
}



.h1 {
    font-size: 40px;
    font-weight: bold;
    color: var(--cor-primaria1);
}

.text-muted {
    font-size: 12.8px;
    color: var(--cor-gray3);
    font-weight: 600;
}

#titulo {
    position: relative;
    top: 6px;
    line-height: 50px;
}

#subtitulo2 {
    font-size: 18px;
    color: var(--cor-gray2);
    font-weight: lighter;
    position: relative;
    top: 16px;
}

#botaotextcol {
   position: relative;
   top: 35px;
    
}

.h2 {

}

#sessaoAmpla {
    margin-left: 200px;
}




